version: '3.8'

services:
  web:
    image: machindra220/portfolio-app:latest
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: trader
      POSTGRES_PASSWORD: Trading2025&
      POSTGRES_DB: portfolio_db
    volumes:
      - ./initdb:/docker-entrypoint-initdb.d
